.container {
  max-width: 768px;
  margin: auto;
}

#main-header .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 10rem;
}

@media (max-width: 768px) {
  .container {
    max-width: 700px;
    margin: auto;
  }

  #showcase .showcase-content h3 {
    font-size: 3rem;
  }
}
